*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: auto;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;
  color: #10162f;
  background-color: #FFF0E5;
  line-height: 1.6;
  transition: 700ms ease-in;
  /* overflow-x: hidden; */
  word-wrap: break-word;
  text-align: justify;
  scroll-padding-top: 15vh;
}

a {
  color: #10162f;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

div,
button,
h1, h2, h3, h4, h5, h6,
span, p {
  margin: 0;
}

h1 {
  color: #3959c5;
  text-transform: uppercase;
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 0px #fff;
  letter-spacing: 8px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 1.6rem;
  }
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

img {
  max-width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

input,
select,
textarea {
  font-family: "Space Grotesk", sans-serif;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #3959c5;
  color: #fff;
  text-transform: uppercase;
  resize: none;
}

button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem auto;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  background-color: #3959c5;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 800px) {
  button {
    padding: 0.8rem;
  }
}
button:hover {
  background-color: #788fdb;
  box-shadow: -5px 5px #10162f;
  transition: 700ms ease-in-out;
  place-items: center;
}

.center {
  margin: auto;
  text-align: center;
}

#fixedButton img {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  margin: 1rem;
  border: none;
  z-index: 999;
}

marquee {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #FFF0E5;
  font-family: "Space Grotesk", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
  box-shadow: 1px 1px;
  z-index: 10;
}
nav #toggler {
  text-align: right;
}
nav #hamburger {
  display: none;
}
@media only screen and (max-width: 800px) {
  nav #hamburger {
    display: block;
  }
}
nav #closeNav {
  display: none;
}
nav.active {
  background-color: #fff;
}
nav :nth-child(3) {
  display: flex;
  gap: 1rem;
  align-items: center;
}
nav img {
  width: 35px;
  height: 35px;
}
@media only screen and (max-width: 800px) {
  nav img {
    display: none;
  }
}
nav > #site-title {
  margin-right: auto;
  align-self: center;
}
@media only screen and (max-width: 800px) {
  nav > #site-title {
    display: block;
    font-size: 1rem;
  }
}
nav ul {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
nav ul > div {
  flex: 1;
}
@media only screen and (max-width: 800px) {
  nav ul {
    display: none;
  }
}
nav li {
  text-transform: uppercase;
  font-size: 1.1rem;
}

#mNav {
  margin-top: 2rem;
  width: 80%;
  display: none;
  inset: 0 0 0 20%;
  position: fixed;
  opacity: 0.85;
  background-color: #10162f;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  padding: 1rem;
  z-index: 1000;
  transition: 300ms ease-in-out;
  color: #fff !important;
}
#mNav img {
  width: 40px;
  height: 40px;
}
#mNav > div {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
#mNav > div > div {
  flex: 1;
}
#mNav i {
  font-size: 2rem;
}
#mNav li {
  font-size: 1rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid #fff;
}
#mNav a {
  color: #fff;
}
#mNav p {
  margin-top: 5rem;
}

header {
  margin: auto;
  width: 85%;
  height: 95vh !important;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 800px) {
  header {
    gap: 1.5rem;
  }
}
header img {
  width: 100%;
}
header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}
@media only screen and (max-width: 800px) {
  header h2 {
    text-align: left;
    font-size: 1.6rem;
  }
}
header p {
  font-size: 1.5rem;
}
@media only screen and (max-width: 800px) {
  header p {
    font-size: 1.1rem;
  }
}
header h3 {
  -webkit-animation-name: tagline;
          animation-name: tagline;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  font-size: 2rem;
}
@media only screen and (max-width: 800px) {
  header h3 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  header {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 95%;
  }
  header > div {
    flex: 1;
  }
}

.section-light {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
  gap: 2rem;
  background-color: #fff;
  padding: 8rem 12rem 4rem 12rem;
}
.section-light > div {
  flex: 1;
}
.section-light div {
  flex: 1;
}
@media only screen and (max-width: 800px) {
  .section-light {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}
.section-light div {
  width: 85%;
}

#section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 4rem;
  text-align: center;
}
#section > div {
  flex: 1;
}
@media only screen and (max-width: 800px) {
  #section {
    flex-direction: column;
    padding: 4rem;
  }
}
#section div {
  width: 85%;
}

.got-question {
  height: 100%;
  background-image: url("./question.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: left;
  background-position-y: center;
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  text-align: center;
}
.got-question > div {
  flex: 1;
}
.got-question div {
  width: 85%;
}
@media only screen and (max-width: 800px) {
  .got-question {
    background-size: 100%;
    background-position: center;
  }
}

#services {
  margin: auto;
  padding: 5rem 12rem 10rem 12rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  #services {
    padding: 5rem 2rem;
  }
}

.card-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.card-container > div {
  flex: 1;
}
.card-container div {
  flex: 1;
}
@media only screen and (max-width: 800px) {
  .card-container {
    flex-direction: column;
  }
}

.card {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 450px;
  transition: 1000ms all;
  padding: 1.5rem 3rem;
  background-color: #fff;
  position: relative;
}
.card > div {
  flex: 1;
}
.card img {
  width: 50%;
}
.card > div {
  flex: 1;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: -5px 5px #10162f;
}

#contactContainer {
  margin-block: 2rem;
}
#contactContainer h2 {
  text-align: center;
}

#contact {
  margin: auto;
  width: 85%;
}
#contact .tally--form {
  min-width: 100%;
}
#contact .tally--form input {
  border: solid red;
}
#contact .contact--div {
  border: solid #FFF0E5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: 2rem;
}
@media only screen and (max-width: 800px) {
  #contact .contact--div {
    margin-inline: 1rem;
    grid-template-columns: 1fr;
  }
}
#contact .contact--div img {
  width: 150px !important;
}
#contact .contact--div form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 1.5rem;
  padding: 1rem;
}
#contact .contact--div form > div {
  flex: 1;
}
#contact .contact--div form > * {
  width: 100%;
}
#contact .g--map {
  margin: auto;
  width: 80%;
  height: 350px;
}

footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem auto 10rem auto;
  width: 70%;
  align-items: flex-start;
}
footer > div {
  flex: 1;
}
footer > div {
  flex: 1;
}
footer h4 {
  font-size: 1rem;
  text-transform: uppercase;
}
footer p {
  font-size: 1rem;
}
@media only screen and (max-width: 800px) {
  footer {
    flex-direction: column;
  }
}

.endNote {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  justify-content: space-around;
  width: 70%;
}
.endNote > div {
  flex: 1;
}
.endNote p {
  font-size: 1rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .endNote {
    flex-direction: column-reverse;
    gap: 0;
    padding: 1rem;
  }
}

.endNote-icons {
  font-size: 0.8rem;
  color: #3959c5;
  letter-spacing: 2rem;
}
.endNote-icons:hover {
  color: #212121;
}/*# sourceMappingURL=style.css.map */